{% extends 'blog/base.html' %}
{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category.name }}</a></span>

                <span class="post-date"><a href="#">
                    <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                </a></span>

                <span class="post-author"><a href="#">{{ post.author }}</a></span>

                <!-- UYAN COUNT BEGIN
                <span class="comments-link"><a href="" id="uyan_count_unit">0条评论</a>
                <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2131784"></script></span>
                <!-- 如果已经过加载此行JS，即可不用重复加载 -->
                <!-- UYAN COUNT END -->

                <span class="views-count"><a href="#">{{ post.views }}次阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.body | safe }}
        </div>
    </article>
    <section class="comment-area">
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2131784"></script>
        <!-- UY END -->
    </section>
{% endblock main %}